html{
	
	font-size: 100%;
	height: 100%;
}

body {
    color: #4c3327;
    font-family: 'DINWeb',sans-serif;
    height: 100%;
    line-height: 1.4;
    min-width: 768px;
}

#page_header{
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background-color: #F3E8C6;
	width: 1349px;
	height: 150px;
}
.main_container{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	line-height: 1.4;
	background-color: #F3E8C6;
	width: 1349px;
	height:1015px;
}
.order_container{
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: #fff;
    margin: -16px auto 0 auto;
    width: 964px;
    height:1015px;
    display: block;
}

div.logo{
	display: block;
	margin-left: 548px;
	position: absolute;
	height:125px;
	width:217px;
	top: 20px;
	background-image: url("/sodaSoftware/img/logo.png");
}
.clearFloat {
	clear:both;
}

.col-left
{
	float: left;
	clear: left;
	width: 205px;
	border-left: none;
	padding-bottom: 30px;
	padding-top: 0px;
	border-right: 1px solid #ccc;
	margin: 25px 0;
}
.col-left h2
{
	padding-left: 52px;
	margin-bottom: 0px;
}

.col-left ul li
{
	padding: 0px;
	height: auto;
	margin-bottom: 5px;
	color: #d86425;
}

.col-left ul{
	
	list-style: none;
}
.col-left li{
	font-family: 'DINWeb',sans-serif;
}


.navigation_title{
	font-family: 'Sina-Medium';
	line-height: 1.5;
	color: #d6670d
}

/*col right*/
.col-right
{
	float: right;
	margin: 17px 0px 0 0;
	width: 720px;
}

.content .colRightLeft
{
	float: left;
	padding-right: 10px;
	width: 510px;
}

#productContent 
{
	padding-top: 1px;
}
.wrapper-product-uber 
{
	width: 100%;
}
.wrapper-product-category 
{
	margin-bottom: 0px;
}

.wrapper-product-category .title {
	font-family: 'Sina-Regular';
	height: 35px;
	line-height: 35px;
	margin: 0 0 5px;
	overflow: hidden;
	color: #4c3327;
	padding: 20px 0 0 0;
	font-size: 24px;
}

.wrapper-product-category .title span {
	display: block;
	font-weight: normal;
	margin: 0;
}

.wrapper-product {
	margin-top: 10px;
}

.itemBox 
{
	box-shadow: 0px 0px 10px rgba(153, 102, 51, 0.3);
	float: left;
	margin: 0 9px 20px 0;
	min-height: 5px;
	padding: 5px 5px 80px 5px;
	position: relative;
	width: 236px;	
}

.productName {
	background: #fff;
	color: #4E3227;
	float: left;
	font-family: 'Sina-Regular';
	font-size: 18px;
	position: relative;
	overflow: hidden;
	text-align: left;
	margin: -5px 0 0 -5px;
	padding: 5px 0 5px 5px;
	width: 151px;
	z-index: 1;
}

.itemPriceCalories {
	float: right;
	position: absolute;
	right: 0;
	top: 0px;
	font-size: 1px;
	min-height: 43px;
	padding: 6px 5px 0 0;
	z-index: 1;
}

.productPrice {
	font-size: 13px;
	color: #4e3227;
	text-align: right;
	width: 100px;
}

.product-button-div{
	
	bottom: 0;
	float: right;
	padding: 5px;
	position: absolute;
	right: 0;
	z-index: 1;
}

.product-button{

	background:url("/sodaSoftware/img/orderBoton.jpg");
	height:25px;
	width: 71px;
	color:#fff;
}


.content .colRightLeft {
float: left;
padding-right: 10px;
width: 510px;
}

/*Order*/
#orderDetailsAndSummary {
	border-left: 1px solid #dad3b8;
	width: 196px;
}

.colRightRight {
	float: right;
	margin-right: 10px;
	margin-top:-190px;
	width: 190px;
}


.order head h3 a {
background: transparent scroll no-repeat right 9px;
display: block;
}

a
{
color: #d6670d;
text-decoration: none;
}



.content .colRightRight .orderPanel .orderContent {
padding: 0px;
overflow: hidden;
}

.summary.details {
color: #4E3227;
font-size: 12px;
padding: 10px;
}

.order.details, .total.details {
background: transparent;
color: #4E3227;
font-size: 14px;
font-weight: normal;
height: auto;
padding-left: 10px;
}

.details {
padding: 5px;
overflow: auto;
}

.floatl {
float: left;
font-weight: bold;
}

.order.details p.orderDetailsBlock {
margin-bottom: 0px;
}

.order.details p {
font-size: 14px;
text-align: left;
}

.orderHead{
	margin:10px 10px 10px 10px;
}

.items-meta {
overflow: hidden;
}

.productItemName {
font-weight: bold;
display: inline;
float: left;
font-size:12px;
width: 160px;
margin-left: 10px;
}

.delete {
cursor: pointer;
float: left;
height: 12px;
margin-right: 3px;
margin-top: 2px;
width: 12px;
}

.productItemPrice {
display: inline;
float: right;
font-size:12px;
margin-right: 14px;
}

.order.details, .total.details {
background: transparent;
color: #4E3227;
font-size: 14px;
font-weight: normal;
height: auto;
padding-left: 10px;
}

.details {
padding: 5px;
overflow: auto;
}

.floatr {
display: inline;
float: right;
font-size: 17px;
font-weight: bold;
}

.total.details .btn-2, .content .btn-2 {
display: block;
font: 13px/28px 'DINWeb', sans-serif;
height: 28px;
padding: 0;
text-align: center;
width: 71px;
background:url("/sodaSoftware/img/orderBoton.jpg");
}

.floatrIv{
	display: inline;
	float: right;
	font-size: 17px;
	font-weight: bold;
	margin-right: -35px;
}


.btn-2{
color:white;	
}
.product-button{

	background:url("/sodaSoftware/img/orderBoton.jpg");
	height:25px;
	width: 71px;
	color:#fff;
}

/*
.orderHead, .wrapper-product-category .title {
color: #996633;
font-sie: 22px;
margin: 10px 0px 5px 0px;
overflow: hidden;
}*/

