 .col-left{
	
display:none;
	
}

.colRightLeft{
	
display:none;
	
}


.colRightRight{
	
	
	display:block;
}

/*Order*/
#orderDetailsAndSummary {
	/*border-left: 1px solid #dad3b8;*/
	width: 196px;
}

.colRightRight {
	float: right;
}


.order head h3 a {
background: transparent scroll no-repeat right 9px;
display: block;
}

/* a
{
color: #d6670d;
text-decoration: none;
} */

.content .colRightRight .orderPanel .orderContent {
padding: 0px;
overflow: hidden;
}

.summary.details {
/* color: #4E3227; */
font-size: 12px;
padding: 10px;
}

.order.details, .total.details {
/* background: transparent;
color: #4E3227; */
font-size: 14px;
font-weight: normal;
height: auto;
padding-left: 10px;
}

.details {
padding: 5px;
overflow: auto;
}

.floatl {
float: left;
font-weight: bold;
}

.order.details p.orderDetailsBlock {
margin-bottom: 0px;
}

.order.details p {
font-size: 14px;
text-align: left;
}

.orderHead{
	margin:10px 10px 10px 10px;
}

.items-meta {
overflow: hidden;
}

.productItemName {
font-weight: bold;
display: inline;
float: left;
font-size:12px;
width: 160px;
margin-left: 10px;
}

.delete {
	
	display:none;
/* cursor: pointer;
float: left;
height: 12px;
margin-right: 3px;
margin-top: 2px;
width: 12px; */
}





.deleteButton{
	display:none;
	/*background: url('/sodaSoftware/img/remove.png');*/
}



.productItemPrice {
display: inline;
float: right;
font-size:12px;
margin-right: 14px;
}

.order.details, .total.details {
/* background: transparent;
color: #4E3227; */
font-size: 14px;
font-weight: normal;
height: auto;
padding-left: 10px;
}

.details {
padding: 5px;
overflow: auto;
}

.floatr {
display: inline;
float: right;
font-size: 17px;
font-weight: bold;
}

.total.details .btn-2, .content .btn-2 {
display: none;
font: 13px/28px 'DINWeb', sans-serif;
height: 28px;
padding: 0;
text-align: center;
width: 71px;
background:url("/sodaSoftware/img/orderBoton.jpg");
}

.floatrIv{
	display: inline;
	float: right;
	font-size: 17px;
	font-weight: bold;
	margin-right: -35px;
}

#finalizar{
	display:none;
}

hr
{
	display:none;
}
